---
import Layout from '@layouts/Layout.astro';

const title = '404';
const description = 'All the tags used in posts.';
---

<Layout title={title} description={description}>
	<section class="text-center">
		<h1 class="display-1">{title}</h1>
		<h2>Oops, something went wrong.</h2>
		<p>Please use the navigation to find your way back.</p>
	</section>
</Layout>
