---
import { Icon } from 'astro-icon';
---

<button class="btn btn-link btn-back ps-0"><Icon class="w-20-px" name="bi:arrow-left-short" />Go Back</button>

<script>
    import "@scripts/back-button";
</script>
