---
import NavigationLinks from '@components/NavigationLinks.astro';
import { SITE } from '@config';
---

<footer class="col-lg-8 offset-lg-2 d-md-flex align-items-md-center justify-content-md-between flex-shrink-0 mt-5 border-top pt-3 py-md-3 text-center">
    <p class="mb-0">Copyright &copy; {new Date().getFullYear()} - {SITE.title}</p>
    <nav class="navbar navbar-expand">
        <ul class="navbar-nav mx-auto mx-md-end">
            <NavigationLinks />
        </ul>
    </nav>
</footer>
