---
import PostMetaData from '@components/PostMetaData.astro';
import type { CollectionEntry } from 'astro:content';
interface Props {
    heading: string;
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const PostPreviewHeading = Astro.props.heading;

---

<article>
    <PostPreviewHeading><a class="link-underline-hover" href={`/posts/${post.slug}`}>{post.data.title}</a></PostPreviewHeading>
    <PostMetaData post={post} />
    <p>{post.data.description}</p>
</article>
