---
import { SOCIALS } from '@config';
import { Icon } from 'astro-icon';

const showSocials = SOCIALS.every(social => !social.active);
---

{
	!showSocials && (
		<ul class="list-inline mb-0 mt-3">
			{
				SOCIALS.filter(social => social.active).map(social => (
					<li class="list-inline-item mt-2">
						<a href={social.href} title={social.name} target="_blank" rel="noreferrer"><Icon class="w-30-px" name={social.icon} /></a>
					</li>
				))
			}
		</ul>
	)
}