img {
    max-width: 100%;
    height: auto;
}

a {
    position: relative;
}

.font-sans-serif,
.font-sans-serif-container p,
.font-sans-serif-container a {
    font-family: $font-family-sans-serif;
}
