.link-underline-hover,
.link-underline-hover-container a {
    &::after {
        position: absolute;
        right: 0;
        bottom: -1px;
        left: 0;
        display: block;
        height: 1px;
        content: "";
        background-color: var(--#{$prefix}body-color);
        opacity: 1;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    }

    &:hover::after {
        height: .125rem;
        background-color: var(--#{$prefix}primary);
    }
}
